body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff8f0; /* Fond doux */
}

header {
    background-color: #ff7f50;
    color: white;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: #333;
    text-align: center;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
    text-align: center;
}

.recette {
    background-color: white;
    display: inline-block;
    width: 250px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px; /* coins arrondis */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.recette img {
    width: 100%;
    border-radius: 10px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

