body {
    margin: 0;
    padding: 40px;
    font-family: Arial, sans-serif;
    background-color: #fff7ec;
    color: #333;
}
h1 {
    text-align: center;
    color: #d35400;
    font-size: 2.5em;
    margin-bottom: 30px;
}
h2 {
    color: #ff914d;
    margin-top: 40px;
    margin-bottom: 15px;
}
ul, ol {
    max-width: 600px;
    margin: auto;
    font-size: 1.1em;
    line-height: 1.6;
}
li {
    margin-bottom: 8px;
}
ul,ol {
    background: white;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);

}